@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

:root{
    --white:#fff;
    --red:#e33e2e;
    --orange: #ee8221;
    --yellow: #fac515;
    --dark: #2c2c2c;
    --dark-hover:#3b3c3c;
    --degraded: linear-gradient(166deg, var(--red), var(--yellow));
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

*::selection{
    background:var(--orange);
    color: white;
}

html{
    font-size: 62.4%;
}

body{
    background:var(--dark);
    color: white;
}

section{
    min-height: 100vh;
    padding: auto;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}
/* Header */
.header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: auto;
    /* Degradado superior negro */
    background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index: 1000;
    transition: all 450ms;
}
#header{
    transition-timing-function: ease-in-out;
}
.header .cart i{
    color: var(--white);
    font-size: 2rem;
} 

header .navbar a{
    font-size: 1.5rem;
    margin-left: 2rem;
    letter-spacing: 0.7px;
    color: #fff;
    padding: 2rem 0;
}

header .navbar a:hover{
    color: var(--orange);
}

/* Responsive Menú */
.menu-btn{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    cursor: pointer;
    top: -.3rem;
    right: 1.3rem;
    transition: all 0.5s ease-in-out;
}
.menu-btn-burger{
    width: 35px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
.menu-btn-burger::before,
.menu-btn-burger::after{
    content: "";
    position: absolute;
    width: 45px;
    height: 5px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
.menu-btn-burger::before{
    transform: translateY(-14px);
}
.menu-btn-burger::after{
    transform: translateY(14px);
}
/* Animation Responsive Menú */
.menu-btn.open .menu-btn-burger{
    transform: translateX(-50px);
    background: transparent;
}
.menu-btn.open .menu-btn-burger::before{
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn-burger::after{
    transform: rotate(-45deg) translate(35px, 35px);

}
/* header input{
    display: none;
}

header label{
    font-size: 3rem;
    color: white;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
} */

/* Carrito de compras */
.carrito{
    opacity: 0;
    position: fixed;
    right:  0;
    height: auto;
    padding: 1rem 4rem;
    display: flex;
    flex-direction: column;                    
    background-color: var(--dark);
    color: var(--white);
    font-size: 1.6rem;
    align-items: center;
    justify-content: space-between;
}
.cart{
    padding: 1rem;
    cursor: pointer;
    margin: 0;
}
.active{
    opacity: 1;
}
.carrito .item{
    display: flex;
    flex-direction: row;
}
.carrito .item p{
    margin: .5rem 1rem;
}
.item .btn-cant{
    margin: 0;
    padding: 0;
    border-radius: 50%;
    width: 3rem;
    margin-left: .5rem;
}

/* Home */
.home{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: url(../img/header.jpg) no-repeat;
    background-size: cover;
    background-position:center;
}

.home .image img{
    width: 40vw;
    animation: float 3s linear infinite;
}

.home .content h1{
    font-size: 7rem;
    color: white;
    margin-left: 1rem;
}

.home .content p{
    font-size: 1.7rem;
    color: white;
    padding: 2rem 0;
    margin-left: 1rem;
}

.btn-grad {background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%)}
.btn-grad {
   padding: .7rem .2rem;
   width: 25rem;
   cursor: pointer;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   border-radius: 25px;
   font-size: 1.7rem;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

/* .btn{
    background: radial-gradient(circle at top left, var(--orange), var(--yellow));
    color: white;
    
    padding: .7rem 4rem;
    margin-left: 1rem;
    border-radius: 25px;
    cursor: pointer;
    transition: all 1s;
    transition-timing-function:ease ;
}

.btn:hover{
    background: radial-gradient(circle at top left, var(--red), var(--orange), var(--yellow));
    padding: .7rem 1rem;
} */

/* Promos */
.promos{
    display: flex;  
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--white) url(../img/circle.png) no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

/* heading promos */
   span:nth-child(4n) { color:var(--dark-hover)}
   span:nth-child(4n-1) { color:var(--orange) }
   span:nth-child(4n-2) { color:var(--dark-hover); }
   span:nth-child(4n-3) { color:var(--orange); }
.promos h2{
    font-size: 6.5rem;
    color: var(--white);
    letter-spacing: 2px;
}
.promos .content{
    display: flex;
    flex-direction: row;
}

.promos .content .card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--orange);
    box-shadow: 5rem 5rem 5rem solid rgba(0, 0, 0, 0.1);
    background: var(--dark);
    width: 32rem;
    height: auto;
    padding: 2.6rem;
    text-align: center;
    border-radius: 8px;
    margin: 2.5rem;
    transition: 500ms;
    box-shadow: 0px 0px 1rem rgba(238, 130, 33, 0.1);
}
.promos .content .card:hover{
    box-shadow: 0px 0px 1.5rem var(--dark-hover);
}
.promos .content .card .card-header p{
    font-size: 2.5rem;
}
.promos .content .card .card-header img{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}
.promos .content .card .card-body p{
    font-size: 2rem;
    padding: 1rem;
}
/* Products */
.btn-product-add{
    width: 12rem;
    padding: .6rem;
    display: inline;
    margin-top: .6rem;
}
.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color:var(--white);
    width: 100%;
    color: var(--dark);
    height: auto;
}
.products h2{
    font-size: 6.5rem;
}
.products .items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.items .card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--orange);
    background: var(--dark);
    width: 25rem;
    height: auto;
    padding: 2.6rem;
    text-align: center;
    border-radius: 8px;
    margin: 2.5rem;
    transition: 500ms;
    box-shadow: 0px 0px 1rem rgba(238, 130, 33, 0.1);
}
.items .card:hover{
    box-shadow: 0px 0px 1.5rem var(--dark-hover);
}
.card-body h5{
    font-size: 2rem;
}
.card-body img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}
.card-body p{
    font-size: 2rem;
}
/* Modal carrtito */
.container-modal{
    color: var(--dark);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    transition: transform 1s;
    transform: translateY(-200%);
}
.carrito-modal{
    padding: 1rem 2rem;
    width: 40%;
    height: 50%;
    border-radius: 25px;
    background: var(--white);
}
.carrito-modal .modal-close{
    display: inline-block;
    text-align: center;
    cursor: pointer;
    color: white;
    width: 4rem;
    height: 4rem;
    padding: .5rem;
    font-size: 2.2rem;
    background: var(--orange);
    border-radius: 50%;
}
/* Key frames */
@keyframes float {
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-3.5rem);
    }
}
/* Media queries */
@media (max-width:1200px) {
    html{font-size:57.2%}
    .home .content h1{font-size: 5rem}
    .home .content p{font-size: 1.5rem}
    .home img{width: 60vw}
    .promos .content{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:1024px) {
    html{font-size: 52.5%}
    .home img{width: 30vw}
    .header{flex-flow: wrap;flex-direction: row;}
    .header .navbar{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        visibility: hidden;
        opacity: 0;
        left: 0;
        width: 100%;
        height: 70vh;
        background-color: rgba(255, 255, 255, 0.8);
        transition:.2s linear;
    }
    .header .navbar a{
        color: var(--dark);
        font-size: 3rem;
        margin: 1rem;
    }
    .header .menu-btn{
        opacity: 1;
        visibility: visible;
    }
}
@media (max-width:768px){
    html{
        font-size: 48.5%;
    }
    .home{
        align-items: center;
        justify-content: center;
    }
    .menu-btn-burger::before{
        transform: translateY(-12px);
    }
    .menu-btn-burger::after{
        transform: translateY(12px);
    }
    .home{flex-direction: column-reverse}
}


/*
@media (max-width:1500px) {
    .promos{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .promos .content h2{
        transform: rotate(0deg);
    }
    
}
@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }  
    .promos .content{
        flex-direction: column;
    } 
}

@media (max-width:900px){
    html{
        font-size: 43%;
    }
    header label{
        visibility: visible;
        opacity: 1;
    }
    header .navbar {
        position: absolute;
        text-align: center;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100vh;
        border-radius: 0 0 1rem 1rem;
        background-color: rgba(42, 42, 42,0.9);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition:.2s linear;
    }
    header .navbar a{
        display: block;
        margin:2rem 0;
        font-size: 2rem;
    }
    header input:checked ~ .navbar{
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before{
        content: '\f00d';
    }
    .promos .content{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width:720px){
    html{
        font-size: 45%;
    }
    .home{
        padding: 0;
        margin: 0;
        flex-flow: column-reverse;
    }
    .home .image img{
        margin-bottom: -30rem;
        width: 35vh;
        animation: none;
    }
}

@media (max-width:500px){
    html{
        font-size: 45%;
    }
    .home{
        flex-flow: column-reverse;
    }
    .home .content h2 p a{
        margin-left: 2rem;
    }
    .home .image img{
        width: 25vh;
    }
}
@media (max-width:450px){
    html{
        font-size: 40% ;
    }
    .home .image img{
        width: 25vh;
    }
}*/